.about-section-3 {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 3vw;
    padding: 4rem 1rem;
}

.about-section-3 .left-side {
    text-align: left;
    width: 35vw;
}

.about-section-3 .left-side p {
    font-size: 1.3rem;
}

.about-section-3 .left-side h2 {
    font-weight: bold;
    font-size: 3.5rem;
}

.milestones {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.milestone {
    flex-basis: 33%;
    text-align: center;
}

.percentage {
    font-weight: bold;
    font-size: 2.4rem !important;
}

.milestone-label {
    margin-top: 0.5rem;
}

.about-section-3 .right-side {
    width: 40vw;
    
}

.about-section-3 .box {
    display: flex;
    justify-content: center;
    border-radius: 3rem;
}

.about-section-3 .left-img {
    width: 33rem;
}

@media only screen and (max-width: 650px) {
    .about-section-3 {
        flex-direction: column;
        align-items: center;
      }
      .about-section-3 .left-side {
        width: 80vw;
        text-align: center;
      }
      .about-section-3 .right-side {
        width: 80vw;
      }
}